
.shop-product-title{
    padding-bottom: 0.2em;
    padding-top: 0.3em;
    font-weight:bolder;
    font-size: 2rem;
    color: var(--colour-2);
    text-align: center;
}

.shop-product-price{
    font-size: 1.3em;
    font-weight:500;
    text-align: center;
    color: var(--colour-11);
    width: 100%;
}

.shop-product-units{
    font-size: 0.6em;
    font-weight:600;
    text-align: center;
    color: var(--colour-12);
    width: 100%;
}

.buyInput {
    width: 10%;
    height: 1.9em;
    border: 3px solid var(--colour-2);
    border-radius: 25%;
}

.adjustDiv{
    display: flex;
    padding: 0.5em;
    margin: auto;
}

.adjustDown{
    width: 2.5em;
    margin-left: 3px;
    margin-right: 3px;
}

.adjustUp{
    width: 2.5em;
    margin-left: 3px;
    margin-right: 3px;
}

.addToBasket{
    font-size: 60%;
    height: 1.7em;
    width: 60%;
    padding: 5px;
}

h1{
    text-align: center;
    font-size: xxx-large;
}

div[class='shop-product card'] {
    border-style:solid;
    border-radius: 15px;
    border-color: black;
    padding-left: 5px;
    padding-right: 5px;
    margin: 17px;
    width: 9em;
    height: 13em;
}

div[class='shop-product card']:hover {
    background-color: var(--colour-4);
}

input[type=number] {
    -moz-appearance: textfield;
}

.menubutton {
    transition-duration: 0.4s;
    background-color: var(--colour-1);
    flex: 1;
}
 
.menubutton:hover {
    background-color: var(--colour-2);
    color: white;
}

.welcome {
    background-color: var(--colour-1);
    flex: 1;
}
 