html{

/* OUR Nice pale green*/
/* To be used as navbar background colour */
--colour-1-h: 96;
--colour-1-s: 43%;
--colour-1-l: 76%;

/* OUR Very dark green */
/* To be used for links/text?? */
--colour-2-h: 95;
--colour-2-s: 26%;
--colour-2-l: 27%;


/* OUR White (clearly distinct from any other white) */
/* Currently used as page background colour (body) */
  --colour-3-h: 0;
  --colour-3-s: 100%;
  --colour-3-l: 100%;


/* OUR Pale blue*/
/* Not sure where this is to be used */
  --colour-4-h: 171;
  --colour-4-s: 45%;
  --colour-4-l: 94%;

/* Dark grey */
/* Price/unit text colour */
  --colour-11-h: 0;
  --colour-11-s: 0%;
  --colour-11-l: 27.1%;

/* Light grey */
/* Price/unit text colour */
  --colour-12-h: 0;
  --colour-12-s: 0%;
  --colour-12-l: 54.5%;
    
/* THEIR colours: ---------------------------- */

/*Black Chocolate*/
  --colour-5-h: 60;
  --colour-5-s: 15%;
  --colour-5-l: 12%;


/*Pine Tree*/
  --colour-6-h: 50;
  --colour-6-s: 22%;
  --colour-6-l: 16%;


/*Olive*/
  --colour-7-h: 55;
  --colour-7-s: 57%;
  --colour-7-l: 38%;


/*Dark Khaki*/
  --colour-8-h: 60;
  --colour-8-s: 41%;
  --colour-8-l: 64%;


/*Dark Khaki*/
  --colour-9-h: 60;
  --colour-9-s: 41%;
  --colour-9-l: 64%;


/*Light Periwinkle*/
  --colour-10-h: 233;
  --colour-10-s: 20%;
  --colour-10-l: 83%;

}

